 body {
    background: #e0f7fa;
  }

  .road {
    position: relative;
    width: 100%;
    height: 200px;
    background: #444;
    margin-top: 200px;
  }

  .car {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 160px;
    height: 50px;
    background: red;
    border-radius: 10px;
  }

  .top {
    position: absolute;
    top: -30px;
    left: 30px;
    width: 90px;
    height: 30px;
    background: darkred;
    border-radius: 10px 10px 0 0;
  }

  .wheel {
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
  }

  .wheel.left {
    left: 20px;
  }

  .wheel.right {
    right: 20px;
  }